{% extends 'mailer/base.html' %}

{% block content %}
  <div class="px-4 ">
    <div class="col-6">
      <a class="btn btn-lg btn-block btn-outline-primary" href="/blog/post/{{ post.pk }}/update"
         role="button">Update</a>
      <a class="btn btn-lg btn-block btn-outline-danger" href="/blog/post/{{ post.pk }}/delete"
         role="button">Delete</a>
      <h2>{{ post.header }}</h2>
      <p>Views: {{ post.views_count }}</p>
      <p>Created: {{ post.created_at }}</p>
      <p>{{ post.content }}</p>
      <img src="/media/{{ post.image }}" width="100%"/>
    </div>
  </div>

{% endblock %}